<!DOCTYPE html>
<html>
<head>
  <title>Enginner-meets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'top' %>
  　　<%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
</head>

<body>

<div class="enginner-bg-<%= current_user.bg_color_id %>">
  <div class="body_dottedline">
  <div class="body_">
                  <div class="header-nav-container">
                      <nav class="header-nav">
                          <ul>
                                <li class="main-menu">                          
                                  <%= link_to "トップページ","/" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "サイトマップ","/sitemap/index" %>                                                                       
                                </li>
                                <li class="main-menu">                                              
                                  <%= link_to "お問い合わせ先", 'contacts/new' %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "新規登録", 'signup' %>
                                </li>

                                <li class="main-menu">
                                  <%= link_to "ログイン", 'login' %>
                                </li>
                          </ul>
                      </nav>
                  </div>
  
              <div class="header-article-sp">
                  <div class="header-container">
                      <div class="menu-open-button">
                          <div class="menu-trigger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </div>
                      
                  </div>


<div class="container-">
  <main class="main">
    <!-- メインコンテンツ -->
      <h1>enginner meets</h1>


<div class="enginner-top">


</nav>
  <p>Enginner meets</p>
  <p class="keyword">最もインテリジェントな、SNS</p>

    </div>
<ul class ="item-ul">

<div class="items">

	<!-- item -->
	<div class="item">
		<%= image_tag 'chat.jpg' %>
	</div>
	<!-- item -->
	<div class="item">
		<%= image_tag 'video2.jpg' %>
	</div>
	<!-- item -->
	<div class="item">
  		<%= image_tag 'chat2.jpg' %>
	</div>
	<!-- item -->
	<div class="item">
		<%= image_tag 'video.jpg' %>
	</div>
	<!-- item -->
	

</div>

<div id="day">
<template>
  <v-card>
    <v-toolbar
      flat
      color="primary"
      dark
    >
      <v-toolbar-title>Enginner meetsについて</v-toolbar-title>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab>
        <v-icon left>
          mdi-account
        </v-icon>
        Option 1
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-lock
        </v-icon>
        Option 2
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-access-point
        </v-icon>
        Option 3
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <p>
              エンジニアを集める目的で作りました
            </p>

            <p>
             ポートフォリオの評価や技術情報の共有
            </p>

            <p class="mb-0">
             人的資産を増やす
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <p>
              Morbi nec metus. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Nunc sed turpis.
            </p>

            <p>
              Suspendisse feugiat. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. In hac habitasse platea dictumst. Fusce ac felis sit amet ligula pharetra condimentum.
            </p>

            <p>
              Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Nam commodo suscipit quam. In consectetuer turpis ut velit. Sed cursus turpis vitae tortor. Aliquam eu nunc.
            </p>

            <p>
              Etiam ut purus mattis mauris sodales aliquam. Ut varius tincidunt libero. Aenean viverra rhoncus pede. Duis leo. Fusce fermentum odio nec arcu.
            </p>

            <p class="mb-0">
              Donec venenatis vulputate lorem. Aenean viverra rhoncus pede. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Fusce commodo aliquam arcu. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi.
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <p>
              Fusce a quam. Phasellus nec sem in justo pellentesque facilisis. Nam eget dui. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.
            </p>

            <p class="mb-0">
              Cras sagittis. Phasellus nec sem in justo pellentesque facilisis. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nam at tortor in tellus interdum sagittis.
            </p>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

</div>


</ul>


<div class="enginner-down">
  <div class="section_title"><p>enginner meetsを選ぶ理由</p></div>

</div>

 <%= react_component("Hello" ) %>
<div class="document-section">
  <p>常に最先端を行く</p>
</div>
<%= react_component("App") %>
<%= react_component('HelloMessage', name: 'John') %>
<div id="app">
<template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      class="indigo lighten-1 white--text text-center"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
        
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>

    <v-chip
      class="ma-2"
      color="secondary"
    >
      Secondary
    </v-chip>

    <v-chip
      class="ma-2"
      color="red"
      text-color="white"
    >
      Red Chip
    </v-chip>

    <v-chip
      class="ma-2"
      color="green"
      text-color="white"
    >
      Green Chip
    </v-chip>
  </div>

      </v-card-text>

      <v-card-text class="white--text pt-0">
        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Engineer LIFE</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
</div>




  </main>
  <div class="sidebar-bg-<%= current_user.bg_color_id %>">
    <div class="sidebar__item">


      <!-- 中身 -->
    </div>
    <div class="sidebar__item sidebar__item--fixed">

  <ul>
    <% if @current_user %>
            <li>
           <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
             <li><%= link_to "トップ","/top" %></li>     
            <li font-size:11px;><%= link_to("プロフィール","/users/#{@current_user.id}/edit",{class:"file"}) %></li>
            <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>          
          <li><%= link_to("チャットルーム", "/posts/index") %></li>
           <li><%= link_to("動画一覧", "/videos") %></li>
           <li><%= link_to("設定", "/tasks/configuration") %></li>
             <% else %>

            <li><%= link_to("新規登録", "/signup") %></li>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("簡単ログイン", "/guest_login") %></li>
             <% end %>
  </ul>
      <!-- 固定・追従させたいエリア -->
    </div>
  </div>
</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    })

      new Vue({
      el: '#day',
      vuetify: new Vuetify(),
    })



  </script>
</body>
</html>
