<!DOCTYPE html>
<html>
<head>
  <title>Yasuhiro Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'introduction' %>
    <%= stylesheet_link_tag    'normalize'%>
      <%= javascript_include_tag 'introduction.js' %>
</head>
<body>
  <!-- ヘッダー部分読み込み  -->
  <%= render partial: '/template/header' %>
    <!-- -->
    <!-- サイドバー部分読み込み  -->
    <%= render partial: '/template/sidebar' %>
      <!-- -->
      <!-- サイドバー部分読み込み  -->
      <%= render partial: '/template/sidebar2' %>
        <!-- -->
        <div class="wrapper">
          <div class="profile">
            <ul class="clear">
              <% @users.each do |user| %>
                <div class="users-index-item">
                  <div class="user-left"> <img src="<%= " /user_images/#{user.image_name} " %> "> </div>
                  <%= link_to(user.name, "/users/#{user.id}") %>
                    <div class="user-right">
                      <p>
                        <%= user.comment %>
                      </p>
                    </div>
                </div>
                <% end %>
                  <%= paginate @users %>
          </div>
        </div>
        </li>
        </div>
        <div class="profile2"> </div>
        <!-- フッター部分読み込み  -->
        <%= render partial: '/template/footer' %>
          <!-- -->
          <div class="page_top"> <a href="#"></a> </div>
</body> 　　
        </div> 　　　
          </div>