<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enginner-meets</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'users' %>
      <%= stylesheet_link_tag    'normalize'%>
        <%= javascript_include_tag 'users.js' %>
</head>
<div class="main user-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
  </div>
</div>
<div class="header-logo">
  <div class="back-logo">
    <%= link_to 'ひとつ前に戻る', :back %>
  </div>
  <div class="form users-form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>
          <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
            <p>ユーザー名</p> <input name="name" value="<%= @user.name %>">
            <p>画像</p> <input name="image" type="file">
            <p>メールアドレス</p> <input name="email" value="<%= @user.email %>">
            <p>コメント</p> <input name="comment" value="<%= @user.comment %>"> <input type="submit" value="保存">
            <% end %>
    </div>
  </div>
</div>