<html>
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enginner-meets</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'users' %>
    <%= stylesheet_link_tag    'normalize'%>
    <%= stylesheet_link_tag    'back'%>
    <%= javascript_include_tag 'users.js' %>
</head>
<body>
  
<div class="wrapper">               
<div class="main user-new">
  <div class="container">


    <div class="form-heading">ユーザー登録</div>
  </div>
    <div class="form users-form">
        <%= form_tag("/users/create",class: "box") do %>

          <div class="field">
          <p>ユーザー名</p>
            <input name="name" placeholder="Username" value="<%= @user.name %>">
            </div>

            <div class="field">
          <p>メールアドレス</p>
            <input name="email" value="<%= @user.email %>">
            </div>

        <div class="field">
          <p>パスワード</p>
            <input type="password" name="password" value="<%= @user.password %>">
        </div>

        <div class="field">
            <p>コメント</p>
            <input name="comment" value="<%= @user.comment %>">
            <input type="submit" value="新規登録">
            </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
    <%= link_to 'ひとつ前に戻る', :back %>
</html>