
<!DOCTYPE html>
<html>
<head>
  <title>Enginner-meets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'top' %>
    <%= stylesheet_link_tag    'videos' %>
  　　<%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
</head>
<nav class="navbar fixed-top navbar-dark bg-info">
  <a class="navbar-brand" href="#!">Enginner Tube</a>
</nav>
<body>

<div class="enginner-bg-<%= current_user.bg_color_id %>">
  <div class="body_dottedline">
  <div class="body_">
                  <div class="header-nav-container">
                      <nav class="header-nav">
                          <ul>
                                <li class="main-menu">                          
                                  <%= link_to "トップページ","/top" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "チャットルーム", "/posts/index" %>                                                                     
                                </li>
                                <li class="main-menu">                                              
                                  <%= link_to "動画一覧", "/videos" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "新規登録", 'signup' %>
                                </li>

                                <li class="main-menu">
                                  <%= link_to "設定", "/tasks/configuration" %>
                                </li>
                          </ul>
                      </nav>
                  </div>
  
              <div class="header-article-sp">
                  <div class="header-container">
                      <div class="menu-open-button">
                          <div class="menu-trigger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </div>
                      
                  </div>


<div class="container-">
  <main class="main">

  <section class="free-section-01">
      <div class="container">
        <div class="free-title">
          動画の楽しさを簡単に。
        </div>
        <div class="free-text">
          厳選されたから動画から見たい動画が見つかる。<br>
          最新情報をすぐさまチェック<br>
          動画イベント情報を配信。
        </div>
      </div><!-- container -->
    </section><!-- free-section-01 -->

    <section class="free-section-02">
      <div class="container">
        <div class="free-title">
          求めていた⁠動画が見⁠つ⁠か⁠る
        </div>
        <div class="free-text">
          多くの動画からあなたの得たい情報を見つけられます。<br>
        </div>
      </div><!-- container -->
    </section><!-- free-section-02 -->
    <!-- ここまで追加 -->


<ul class="list-unstyled">
  <% @videos.each do |video| %>
  <li class="media">
    <div class="media-body">

      <%= link_to video_path(video) do %>

        <%= video_tag video.video.to_s, :size => "360x200" %>

      <% end %>

      <div class="media-body">
      
        <%= link_to video_path(video) do %>
          <h5 class="mt-0 mb-1"><%= video.title %></h5>
        <% end %>
      <p class="body-sentence"><%= video.body %></p>
    </div>
  </li>
  <% end %>
</ul>

<div class="video-link">
 <%= link_to "動画投稿","/videos/new", {class: "nav-link"} %>      
</div>


<%= stylesheet_pack_tag 'application' %>
<%= javascript_pack_tag 'application' %>

</body>




  </main>
  <div class="sidebar-bg-<%= current_user.bg_color_id %>">
    <div class="sidebar__item">


      <!-- 中身 -->
    </div>
    <div class="sidebar__item sidebar__item--fixed">

  <ul>
    <% if @current_user %>
            <li>
           <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
             <li><%= link_to "トップ","/top" %></li>  
            <li font-size:11px;><%= link_to("プロフィール","/users/#{@current_user.id}/edit",{class:"file"}) %></li>
            <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>          
          <li><%= link_to("チャットルーム", "/posts/index") %></li>
           <li><%= link_to("動画一覧", "/videos") %></li>
           <li><%= link_to("設定", "/tasks/configuration") %></li>
             <% else %>

            <li><%= link_to("新規登録", "/signup") %></li>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("簡単ログイン", "/guest_login") %></li>
             <% end %>
  </ul>
      <!-- 固定・追従させたいエリア -->
    </div>
  </div>
</div>


</div>
</body>
</html>



