<!DOCTYPE html>
<html>
<head>
  <title>Enginner-meets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'top' %>
  　　<%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
     <%= stylesheet_link_tag    'videos' %>
</head>

<body>

<div class="enginner-bg-<%= current_user.bg_color_id %>">
  <div class="body_dottedline">
  <div class="body_">
                  <div class="header-nav-container">
                      <nav class="header-nav">
                          <ul>
                                <li class="main-menu">                          
                                  <%= link_to "トップページ","/top" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "サイトマップ","/sitemap/index" %>                                                                       
                                </li>
                                <li class="main-menu">                                              
                                  <%= link_to "お問い合わせ先", 'contacts/new' %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "新規登録", 'signup' %>
                                </li>

                                <li class="main-menu">
                                  <%= link_to "ログイン", 'login' %>
                                </li>
                          </ul>
                      </nav>
                  </div>
  
              <div class="header-article-sp">
                  <div class="header-container">
                      <div class="menu-open-button">
                          <div class="menu-trigger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </div>
                      
                  </div>


<div class="container-">
  <main class="main">

<h1 class="title1">動画新規投稿</h1>

<%= form_with(model: @video, local: true) do |form| %>
  <div class="form-group">

    <!-- ここから編集する -->
    <%= form.text_field :title, placeholder: "タイトル", class: "title" %>
    <!-- ここまで編集する -->

  </div>
  <div class="form-group">

    <!-- ここから編集する -->
    <%= form.text_area :body, placeholder: "動画の説明", class: "sentence" %>
    <!-- ここまで編集する -->

  </div>
  <div class="form-group">

    <!-- ここから編集する -->
    <%= form.file_field :video %>
    <!-- ここまで編集する -->

  </div>
  <%= form.submit value="新規登録"%>
<% end %>




  </main>
  <div class="sidebar-bg-<%= current_user.bg_color_id %>">
    <div class="sidebar__item">


      <!-- 中身 -->
    </div>
    <div class="sidebar__item sidebar__item--fixed">

  <ul>
    <% if @current_user %>
            <li>
           <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
            <li><%= link_to "トップ","/top" %></li> 
            <li font-size:11px;><%= link_to("プロフィール","/users/#{@current_user.id}/edit",{class:"file"}) %></li>
            <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>          
          <li><%= link_to("チャットルーム", "/posts/index") %></li>
           <li><%= link_to("動画一覧", "/videos") %></li>
           <li><%= link_to("設定", "/tasks/configuration") %></li>
             <% else %>

            <li><%= link_to("新規登録", "/signup") %></li>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("簡単ログイン", "/guest_login") %></li>
             <% end %>
  </ul>
      <!-- 固定・追従させたいエリア -->
    </div>
  </div>
</div>


</div>
</body>
</html>


