<!DOCTYPE html>
<html>
<head>
  <title>Enginner-meets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'top' %>
    <%= stylesheet_link_tag 'posts' %>
  <%= stylesheet_link_tag 'normalize'%>
  <%= javascript_include_tag 'posts.js' %>
 
</head>

<body>


                  <div class="header-nav-container">
                      <nav class="header-nav">
                          <ul>
                                 <li class="main-menu">                          
                                  <%= link_to "トップページ","/top" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "チャットルーム", "/posts/index" %>                                                                     
                                </li>
                                <li class="main-menu">                                              
                                  <%= link_to "動画一覧", "/videos" %>
                                </li>
                                <li class="main-menu">
                                  <%= link_to "新規登録", 'signup' %>
                                </li>

                                <li class="main-menu">
                                  <%= link_to "設定", "/tasks/configuration" %>
                                </li>
                          </ul>
                      </nav>
                  </div>
  
              <div class="header-article-sp">
                  <div class="header-container">
                      <div class="menu-open-button">
                          <div class="menu-trigger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </div>
                      
                  </div>


<div class="container-">
  <main class="main">

 
   <div class = "top-a">
<% @posts.each do |post| %>
  <!-- 自分のメッセージの場合 -->
  <% if post.user != @current_user %>
    <tr class="row justify-content-center">
      <!-- アイコンを左側に表示する -->
      <td class="col-2">
        <div class="post-left"> <img src="<%= " /user_images/#{post.user.image_name} " %>"> </div>
      </td>
      <!-- メッセージを右側に表示する -->
      <td class="col-10">
        <%= post.user.name %> <br>
        <!-- 自分用の吹き出しCSSクラスを適用する -->
        <div class="says">
          <p><%= link_to(post.content, "/posts/#{post.id}",{class:"sentence"}) %></p>
          <span><%= post.created_at.to_s(:datetime_jp) %></span>
        </div>
      </td>
    </tr>

  <!-- 自分以外のメッセージの場合 -->
  <% else %>
    <tr class="row justify-content-center">
      <!-- メッセージを左側に表示する -->
      <td class="col-10">

        <!-- 自分以外用の吹き出しCSSクラスを適用する -->
              <td class="col-2">
       <div class="post-right"> <img src="<%= " /user_images/#{post.user.image_name} " %>"> </div>
      </td>
              <div class="col-11 float-right">
          <%= post.user.name %> <br>
        </div>
        <div class="other-user-says">
          <p><%= link_to(post.content, "/posts/#{post.id}",{class:"sentence"}) %></p>
          <span><%= post.created_at.to_s(:datetime_jp) %></span>
        </div>
      </td>
      <!-- アイコンを右側に表示する -->

    </tr>
  <% end %>
<% end %>
<%= paginate @posts %>


    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body"> <textarea name="content"></textarea> <input type="submit" value="投稿"> </div>
      </div>
      <% end %>
      </div>



  </main>
  <div class="sidebar-bg-<%= current_user.bg_color_id %>">
    <div class="sidebar__item">


      <!-- 中身 -->
    </div>
    <div class="sidebar__item sidebar__item--fixed">

  <ul>
    <% if @current_user %>
            <li>
           <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
            <li><%= link_to "トップ","/top" %></li> 
            <li font-size:11px;><%= link_to("プロフィール","/users/#{@current_user.id}/edit",{class:"file"}) %></li>
            <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>          
          <li><%= link_to("チャットルーム", "/posts/index") %></li>
           <li><%= link_to("動画一覧", "/videos") %></li>
           <li><%= link_to("設定", "/tasks/configuration") %></li>
             <% else %>

            <li><%= link_to("新規登録", "/signup") %></li>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("簡単ログイン", "/guest_login") %></li>
             <% end %>
  </ul>
      <!-- 固定・追従させたいエリア -->
    </div>
  </div>
</div>


</div>
</body>
</html>


