<!DOCTYPE html>
<html>
<!-- Head -->
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yasuhiro's Portfolio</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'posts' %>
      <%= stylesheet_link_tag    'normalize'%>
        <%= javascript_include_tag 'posts.js' %>
</head>
<!-- ヘッダー部分読み込み  -->
<%= render partial: '/template/header' %>
  <!-- -->
  <div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <div class="post-user-name"> <img src="<%= " /user_images/#{@user.image_name} " %>">
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        </div>
        <p>
          <%= @post.content %>
        </p>
        <div class="post-time">
          <%= @post.created_at.to_s(:datetime_jp) %>
        </div>
              <div class="back-logo">
        <%= link_to 'ひとつ前に戻る', :back %>
      </div>
        <% if @post.user_id == @current_user.id %>
          <div class="post-menus">
            <%= link_to("編集", "/posts/#{@post.id}/edit",{class: "post-menus1"})%>
              <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post",class: "post-menus1"}) %>
                <% end %>
          </div>
      </div>
    </div>
  </div>