<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
  <% if flash[:notice] %>
  <%= javascript_include_tag 'flash_window' %>
<% end %>
<meta name="apple-mobile-web-app-capable" content="yes">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="    stylesheet">
    <%= javascript_pack_tag 'hello_vue' %>
</head>

  <body>
    <%= yield %>
   <div class="flash-window hidden">
  <p><%= notice %><span class="flash-window--delete">X</span></p>
  
</div>
  </body>
</html>
